{clean_files, ["*.eunit", "ebin/*.beam"]}.
{erl_opts, [hipe]}.
{deps, [
	{eredis,       ".*", {git, "https://github.com/wooga/eredis.git",    {branch, "master"}}},
	{jiffy,        ".*", {git, "https://github.com/davisp/jiffy.git",    {branch,  "master"}}},
	{cowboy,       ".*", {git, "https://github.com/extend/cowboy.git",   {branch, "master"}}},
	{erlydtl,      ".*", {git, "https://github.com/erlydtl/erlydtl.git", {branch, "master"}}}

]}.
